# Windows binaries
*.exe
*.exp

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# visual studio files
*.deps
*.suo
*.pdb
*.opensdf
*.sdf
*.vcxproj.user
*.vcxproj.filters
Debug/
ipch/
Release/

# vim
*.swp

# sublime
*.sublime-project
*.sublime-workspace

# tags
.tags
.tags_sorted_by_file

# executables
examples/blackscholes/bs_device
examples/blackscholes/bs_host_g++
examples/blackscholes/bs_host_nvcc
examples/blackscholes_hemiarray/bs_device
examples/blackscholes_hemiarray/bs_host_g++
examples/blackscholes_hemiarray/bs_host_nvcc
examples/blackscholes_hostdevice/blackscholes
examples/blackscholes_nohemi/bs_device
examples/blackscholes_nohemi/bs_host_g++
examples/blackscholes_nohemi/bs_host_nvcc
examples/nbody_vec4/nbody_vec4
test/test_execution_policy
test/test_execution_policy.dSYM

