# Windows binaries
*.exe
*.exp

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# visual studio files
*.suo
*.pdb
*.opensdf
*.sdf
*.vcxproj.user
Debug/
ipch/
Release/

# vim
*.swp

# sublime
*.sublime-project
*.sublime-workspace
